

.library-message {

    margin-top: 2em;
    border-spacing: 3em 1em;
    text-align: center;
    font-size: 1.em;
}



.book-library .message {
    font-weight: bold;
    height: 2em;
    color: red;
    text-align: center;
    margin-top: 1m;
}